<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <h4>CloudMailing</h4>

        <form class="m-y-md" ng-submit="login_vm.login()">
            <fieldset class="form-group">
                <label for="cm-username" translate>Login</label>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    <input ng-model="login_vm.username" type="text" class="form-control" id="cm-username"
                           placeholder="enter your username">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label for="cm-password" translate>Password</label>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input ng-model="login_vm.password" type="password" class="form-control" id="cm-password"
                           placeholder="password">
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary btn-block" translate>Login</button>
        </form>
    </div>
</div>
