$sidebar-bg-color: rgb(48, 66, 106);
$sidebar-header-bg-color: rgb(45, 62, 99);
$sidebar-header-color: #fff;
$sidebar-title-color: #738bc0;
$sidebar-list-color: #b2bfdc; //#b2bfdc;
$sidebar-list-active-color: #fff;
$sidebar-list-hover-color: #fff;
$sidebar-list-hover-border-left-color: #e99d1a;
$sidebar-widh: 250px;
$sidebar-height: 80px;

#sidebar-wrapper {
  background: $sidebar-bg-color;

  //.sidebar .sidebar-main a,
  .sidebar-footer,
  .sidebar .sidebar-list a:hover,
  #page-wrapper:not(.open) .sidebar .sidebar-title.separator {
    // Sidebar header and footer color
    background: $sidebar-header-bg-color;
  }
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;

  li a {
    color: $sidebar-list-color;
    display: block;
    float: left;
    text-decoration: none;
    width: $sidebar-widh;
  }
}

.sidebar-main {
  position: relative;
  //background-image: url('../img/Radiant-Background.jpg');
  background-color: $sidebar-header-bg-color;
  background-size: contain;
  height: $sidebar-height;
  transition: all .6s ease .0s;
  color: $sidebar-list-color;

  a {
    font-size: 24px;
    line-height: 60px;
    color: $sidebar-header-color !important;
  }

  a:hover {
    cursor: pointer;
  }

  .menu-icon {
    float: right;
    font-size: 18px;
    padding-right: 28px;
    line-height: 60px;
  }

  .cm-version {
    //font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    //color: $menu-color;
    font-size: 9px;
    font-weight: normal;
    padding-top: 0;
    float: right;
    position: absolute;
    bottom: 10px;
  }
}

.sidebar-title {
  color: $sidebar-title-color;
  font-size: 12px;
  height: 35px;
  line-height: 40px;
  text-transform: uppercase;
  transition: all .6s ease 0s;
}

.sidebar-list {
  height: 40px;

  a {
    color: $sidebar-list-color;
    cursor: pointer;
    font-size: 15px;
    line-height: 40px;
    text-indent: 25px;
  }

  a.active {
    border-left: 3px solid $sidebar-list-hover-border-left-color;
    color: $sidebar-list-active-color;
    text-indent: 22px;
    .menu-icon {
      text-indent: 25px;
    }
  }

  a:hover {
    border-left: 3px solid $sidebar-list-hover-border-left-color;
    color: $sidebar-list-hover-color;
    text-indent: 22px;
    .menu-icon {
      text-indent: 25px;
    }
  }

  .menu-icon {
    float: right;
    padding-right: 29px;
    line-height: 40px;
    width: 70px;
  }

  .menu-subitem {
    //background-color: transparent;
    padding-left: 0px;
    li > a {
      //font-weight: inherit;
      //white-space: inherit;
      padding: 0 0 0 15px;
    }
  }
}

#page-wrapper:not(.open) .sidebar {
  bottom: 0;

  .sidebar-main {
    height: 60px;
    transition: all .6s ease .0s;
  }

  .sidebar-title {
    display: none;
    height: 0px;
    text-indent: -100px;
  }

  .sidebar-title.separator {
    display: block;
    height: 2px;
    margin: 13px 0;
  }

  .sidebar-list a:hover span {
    border-left: 3px solid $sidebar-list-hover-border-left-color;
    text-indent: 22px;
  }
}

#page-wrapper:not(.open) .sidebar-footer {
  display: none;
}

.sidebar-footer {
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all .6s ease 0s;
  text-align: center;

  div a {
    color: $sidebar-list-color;
    font-size: 12px;
    line-height: 43px;
  }

  div a:hover {
    color: $sidebar-list-hover-color;
    text-decoration: none;
  }

  .cm-version {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $menu-color;
    font-size: 9px;
    font-weight: normal;
    padding-top: 0;

  }

}
